.welcome_sign{
    color: gold;
    font-weight: bold;
}
.description{
    font-weight: normal;
    font-family: "Comic Sans MS", serif;
}
.list{
    font-family: "Times New Roman", cursive;
    font-weight: bolder;
}
.list_element{
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    :hover {
        color: #ff6600;
        text-decoration: underline;
    }

}
.welcome_section {
    background-color: black;
    width: 80%;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.description_section {
    background-color: grey;
    width: 500px;
    height: 150px;
    padding: 15px;
    margin: 30px auto;
    border: 1px dashed #999;
}